# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.dist-info/

# =====================
# Virtual env
# =====================
venv/
.env/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# Logs & Outputs
# =====================
logs/
output/
results/
visual_pic/
*.log
# =====================
# Deep Learning
# =====================
checkpoints/
ckpt/*
*.ckpt
*.pth
*.pt

# =====================
# Data files
# =====================
*.npy
*.npz
*.pkl
*.csv
*.h5
*.txt

# =====================
# OS
# =====================
.DS_Store
.my-credentials
